<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390093337258-2j1hdonmqvtjo0bve259pf54vl3h20u8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390093337258-2j1hdonmqvtjo0bve259pf54vl3h20u8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>390093337258-6e34mh79q1kj2jh1hhh4m71hqrprs498.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD23OKZcqbM8e2KEuBi6Miiw5MtrJoYHNs</string>
	<key>GCM_SENDER_ID</key>
	<string>390093337258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RNYogaMeditation</string>
	<key>PROJECT_ID</key>
	<string>yoga-app-9fb3b</string>
	<key>STORAGE_BUCKET</key>
	<string>yoga-app-9fb3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390093337258:ios:d33d631805cc11a826d6d3</string>
</dict>
</plist>